<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Seven Wonders of The World</title>
    <link rel="icon" href="./images/worldIcon.png" sizes="96x96" type="image/png">
    <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
    <!-- Using via Google Web Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <!-- https://tailwindcss.com/docs/installation -->
    <!-- Using Tailwind via CDN -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

    <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
    <!-- Vue CDN -->
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body class="bg-blue-50">
    <div id="app">
        <div v-show="wantToShowBigImage"
            class="bg-black bg-opacity-80 w-full h-screen z-20 fixed top-0 flex content-center">
            <img :src=bigImage class="m-auto h-3/4 ">
            <button @click="closeBigImage" class="material-icons text-white absolute top-4 right-4"> close </button>
            <button @click="forwardBigImage" class="material-icons absolute text-white top-1/2 right-6"> arrow_forward_ios</button>
            <button @click="backBigImage" class="material-icons absolute text-white top-1/2 left-6"> arrow_back_ios </button>
        </div>
        <h1
            class="py-8 my-6 bg-purple-100 text-4xl font-extrabold text-center text-pink-400 border-solid border-4 border-pink-200 shadow-md">
            The Seven Wonders of The World</h1>
        <div class="mb-8 max-w-6xl mx-auto">
            <h2
                class="font-semibold text-lg text-white p-3 bg-gradient-to-b from-pink-300 via-purple-300 to-blue-300 rounded-md shadow-xl fixed bottom-20 right-6 z-10">
                Your Favoritec {{countFavorite}}</h2>
            <div class="fixed bottom-6 right-6 flex flex-col z-10">
                <button class="material-icons mt-4 text-4xl text-right text-blue-500 fixed bottom-6 right-6 z-10"
                    v-show="!searchActive" @click="switchToSearch">search</button>
                <div v-show="searchActive ">
                    <input type="text" v-model="searchInputText" placeholder="What you want?"
                        class="py-2 px-2 bg-white rounded border-b-2 border-blue-300 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent" 
                        @keyup.enter="search">
                    <button @click="switchToSearch"
                        class="ml-2 bg-blue-400 text-white py-2 px-2 rounded hover:bg-pink-300 focus:outline-none focus:ring-2 focus:ring-pink-600 focus:ring-opacity-50">Cancel</button>
                </div>
            </div>
            <div class="space-y-7 z-0">
                <div v-for="(image,index) in images" class="flex space-x-6 bg-purple-50 p-4 shadow-md relative"
                    v-show="image.show">
                    <div class="relative">
                        <img :src=image.img class="max-w-lg shadow-lg cursor-pointer"
                            v-bind:class="[image.favorite ? 'ring ring-pink-600 ring-offset-4 ring-offset-purple-100' : ' ']"
                            @click="showBigImage(index)">
                        <span v-show="!image.favorite" @click="favorite(index)"
                            class="text-3xl absolute bottom-2 right-2 text-pink-400 material-icons transition duration-500 cursor-pointer">favorite_border</span>
                        <span v-show="image.favorite" @click="favorite(index)"
                            class="text-3xl absolute bottom-2 right-2 text-pink-400 material-icons transition duration-500 cursor-pointer">favorite</span>
                    </div>
                    <div class="flex flex-col space-y-6 tracking-wide leading-6 max-w-lg ">
                        <h2 class="text-xl font-semibold text-center text-blue-800">{{image.name}}</h2>
                        <p class="ml-8 text-blue-600">{{image.description}}</p>
                    </div>
                </div>
            </div>
            <p class="text-center text-2xl font-bold text-blue-300 mt-16" v-show="!hasImages">No information</p>
        </div>

    </div>

    <!-- my main.js -->
    <script src="./main.js"></script>
</body>

</html>